.body-color {
    background-color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.btn-mac-action {
    background-color: #f79710 !important;
    width: 80px;
    height: 80px;
    font-size: xx-large !important;
    --bs-btn-color: #fff;
    --bs-btn-bg: #f79710 !important;
    --bs-btn-border-color: #f79710 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #da840d !important;
    --bs-btn-hover-border-color: #c97500 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c97500 !important;
    --bs-btn-active-border-color: #da6900 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f79710 !important;
    margin-top: 15px !important;
}

@media only screen and (max-width: 200px) {
    .btn-mac-action{width: 60% !important;}
    
  }